.section-features {
  width: 100vw;
  height: 100vh;
  background-color: $color-white;
  text-align: left;
  position: relative;

  &-2 {
    width: 100vw;
    height: 100vh;
    background-color: $color-white;
    text-align: right;

    &-paragraph {
      float: right;
    }
  }
}

.features {
  &__heading {
    margin-left: 6rem;

    &-2 {
      margin-right: 6rem;
    }
  }
  &__paragraph {
    color: $default-text-color-black;
    font-size: $default-font-size;
    margin-left: 6rem;
    overflow-wrap: break-word;
    width: 60rem;
    text-align: left;
    height: auto;
  }
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
