body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.paragraph {
  font-size: $default-font-size;
}

.heading-secondary {
  background-image: $gradient-1;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 6.4rem;
  display: inline-block;
}

.gradient-1 {
  background-image: $gradient-1;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.colored-1 {
  background-color: #00171f;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
