.wh-li {
  font-weight: 300 !important;
}
.wh-reg {
  font-weight: 400 !important;
}
.wh-b {
  font-weight: 700 !important;
}
.mar-cen-hor {
  margin: 0 auto !important;
}
.mar-top-small {
  margin-top: 1rem;
}
.mar-top-medium {
  margin-top: 2rem;
}
.mar-top-large {
  margin-top: 4rem;
}
.mar-top-huge {
  margin-top: 6rem;
}
