.logo {
  width: 50vw;
  height: auto;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__image {
    width: 100%;
    height: auto;
  }
}

@keyframes logoRecInflate {
  start {
    width: 250px;
    height: 250px;
  }
  75% {
    width: 450px;
    height: 450px;
  }
  end {
    width: 250px;
    height: 250px;
  }
}
