#menu-link {
  position: fixed;
  color: $color-white;
  cursor: pointer;
  font-size: $default-font-size;
  top: 5%;
  right: 5%;
  z-index: 11;
}

#menu {
  opacity: 0;
  visibility: collapse;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: $color-grey-1;
  z-index: 10;
  transition: all 0.3s;
  border-radius: 50%;
  transform: translateY(-100vh);

  &__list {
    color: $default-text-color;
  }
}

.active {
  opacity: 1 !important;
  visibility: visible !important;
  transform: scale(2) translateY(0) !important;
}
