#menu-link {
  position: fixed;
  color: $color-white;
  cursor: pointer;
  font-size: $default-font-size;
  top: 5%;
  right: 5%;
  z-index: 11;
  mix-blend-mode: difference;
}

#menu {
  opacity: 0;
  visibility: collapse;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: $color-grey-1;
  z-index: 10;
  transition: all 0.3s;
  transform: translateY(-100vh);
  cursor: none;
}

.menu {
  &__list {
    display: flex;
    text-align: center;
    list-style: none;
    color: $default-text-color;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--item {
      font-size: 5.2rem;
      text-transform: uppercase;
      transition: all 0.2s;

      &:hover {
        transform: translateX(1.2rem);
        background-image: $gradient-1;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }

      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }
}

.active {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateY(0) !important;
}

.cursor {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: $color-white;
  transition: 0.1s;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 100;
  animation: inflate infinite 3s;
}

.rem-cursor {
  opacity: 0 !important;
  visibility: collapse !important;
}
