// FONT
$default-font-size: 1.6rem;

// Colors
$default-text-color: #f6f7eb;
$default-text-color-black: #2c2c2c;

$main-gradient: radial-gradient(
  circle,
  #fda085,
  #fea885,
  #feb086,
  #feb888,
  #fdc08b,
  #fdc489,
  #fec887,
  #fdcc85,
  #fccd7d,
  #fbcf75,
  #f9d16d,
  #f6d365
);

$gradient-1: linear-gradient(to right, #f6d365, #fdc08b);

$color-white: #fff;
$color-black: #000;

$color-grey-1: rgb(20, 20, 20);
$color-grey-2: rgb(30, 30, 30);

$color-light-grey-1: rgb(200, 200, 200);

$background-color-1: #f6d365;
