// FONT
$default-font-size: 1.6rem;

$default-text-color: #f6f7eb;
$main-gradient: radial-gradient(
  circle,
  #fda085,
  #fea885,
  #feb086,
  #feb888,
  #fdc08b,
  #fdc489,
  #fec887,
  #fdcc85,
  #fccd7d,
  #fbcf75,
  #f9d16d,
  #f6d365
);

$color-white: #fff;
$color-black: #000;
